.featured-overlay {
  height: 15%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all ease-in-out 0.4s;
}
.featured-main:hover .featured-overlay {
  opacity: 1;
}
.featured-main {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}
